 body {
background-color: #CCD1D1;
 border: 2px solid orange;
 background-image: url("https://p4.wallpaperbetter.com/wallpaper/880/223/667/black-stars-wallpaper-preview.jpg")
 }
 h1{
   font-family: Impact;
   text-align: center;
   font-size:40px;
   color:#FF9F45;
   font-weight: 400;
   
 }
 h2{
   font-family:helvetica;
   color:#8CD689;
 }
 h3{
   font-family:helvetica;
   color:#8CD689; 
 }

td{
  color:white;
}
th{
  color:#D14B4B;
}
.GAMESES{
  font-size:30px;
  color:#FF9E30;
}
.dotexe{
  font-size:0px;
}
.GGG{
  color:orange;
}
.Face{
color:#4685DC;
}

.TW{
  color:#2ECEF9;
}
.Insta{
  color:#F94646;
}
.puntoexe{
  font-size:0px;
}

p{
  color:white;
  font-family: futura;
}
ol{
  color:white;
}
a{
  color:#C8ADFF;
}
